<a href="https://colab.research.google.com/github/Bettenoch/security_incidence_prediction/blob/main/df_exploration_%26_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/security_incidents_cleaned2.csv')
display(df.head())
print(df.shape)

,incident_id,year,month,day,country_code,country,region,district,city,UN,...,location,latitude,longitude,motive,actor_type,actor_name,details,verified,source,date
0,1,1997,1.0,15.0,KH,Cambodia,Banteay Meanchey,Unknown,Close to Dadaab refugee camo,0,...,Unknown,14.070929,103.099916,Unknown,Unknown,Unknown,1 ICRC national staff killed while working in ...,Archived,Archived,1997-01-15
1,2,1997,1.0,15.0,RW,Rwanda,Northern,Musanze,Ruhengeri,0,...,Office/compound,-1.499840,29.634970,Unknown,Unknown,Unknown,"3 INGO international (Spanish) staff killed, 1...",Archived,Archived,1997-01-15
2,3,1997,2.0,14.0,TJ,Tajikistan,Unknown,Unknown,Close to Dadaab refugee camo,4,...,Unknown,38.628173,70.815654,Unknown,Unknown,Unknown,"3 UN national staff, 1 UN international (Niger...",Archived,Archived,1997-02-14
3,4,1997,2.0,14.0,SO,Somalia,Lower Juba,Kismayo,Kismayo,0,...,Unknown,-0.358216,42.545087,Political,Non-state armed group: Regional,Al-Itihaad al-Islamiya,1 INGO international staff killed by Al ittiha...,Archived,Archived,1997-02-14
4,5,1997,2.0,14.0,RW,Rwanda,Kigali,Kigali,Kigali,1,...,Unknown,-1.950851,30.061508,Political,Unknown,Unknown,1 UN national staff shot and killed in Kigali ...,Archived,Archived,1997-02-14

(4329, 42)

In [5]:
df.columns.tolist()

['incident_id',
 'year',
 'month',
 'day',
 'country_code',
 'country',
 'region',
 'district',
 'city',
 'UN',
 'INGO',
 'ICRC',
 'NRCS_IFRC',
 'NNGO',
 'other',
 'nationals_killed',
 'nationals_wounded',
 'nationals_kidnapped',
 'total_nationals',
 'internationals_killed',
 'internationals_wounded',
 'internationals_kidnapped',
 'total_internationals',
 'total_killed',
 'total_wounded',
 'total_kidnapped',
 'total_affected',
 'gender_male',
 'gender_female',
 'gender_unknown',
 'means_of_attack',
 'attack_context',
 'location',
 'latitude',
 'longitude',
 'motive',
 'actor_type',
 'actor_name',
 'details',
 'verified',
 'source',
 'date']

In [6]:
import pandas as pd

# Examine Data Types and Missing Values
with open('df_info.txt', 'w') as f:
    print(df.info(), file=f)

# Summary Statistics
with open('df_describe.txt', 'w') as f:
    print(df.describe(), file=f)

numerical_cols = ['total_killed', 'total_wounded', 'total_kidnapped', 'total_affected']
for col in numerical_cols:
    if col in df.columns:
        with open(f'df_{col}_describe.txt', 'w') as f:
            print(f"\nSummary statistics for {col}:\n{df[col].describe()}", file=f)
    else:
        print(f"Column '{col}' not found in the DataFrame.")

# Categorical Variable Exploration
categorical_cols = ['means_of_attack', 'attack_context', 'actor_type', 'country', 'region']
for col in categorical_cols:
    if col in df.columns:
        with open(f'df_{col}_value_counts.txt', 'w') as f:
            print(f"\nValue counts for {col}:\n{df[col].value_counts()}", file=f)
    else:
        print(f"Column '{col}' not found in the DataFrame.")

# Time Range and Distribution
if 'date' in df.columns:
    with open('df_time_range.txt', 'w') as f:
        print(f"\nTime Range: {df['date'].min()} to {df['date'].max()}", file=f)
    with open('df_incidents_per_year.txt', 'w') as f:
        print(f"\nIncidents per year:\n{df['year'].value_counts().sort_index()}", file=f)
else:
    print("Column 'date' not found in the DataFrame.")

# Geographical Distribution
if 'country' in df.columns and 'region' in df.columns:
    with open('df_top_countries.txt', 'w') as f:
        print(f"\nTop 10 countries by incident count:\n{df['country'].value_counts().head(10)}", file=f)
    with open('df_top_regions.txt', 'w') as f:
        print(f"\nTop 10 regions by incident count:\n{df['region'].value_counts().head(10)}", file=f)
else:
    print("Column 'country' or 'region' not found in the DataFrame.")

# Read the files and display their content
for filename in ['df_info.txt', 'df_describe.txt', 'df_time_range.txt', 'df_incidents_per_year.txt', 'df_top_countries.txt', 'df_top_regions.txt']:
    try:
        with open(filename, 'r') as f:
            print(f"Content of {filename}:\n{f.read()}")
    except FileNotFoundError:
        print(f"File {filename} not found.")

for col in numerical_cols:
    filename = f'df_{col}_describe.txt'
    try:
        with open(filename, 'r') as f:
            print(f"Content of {filename}:\n{f.read()}")
    except FileNotFoundError:
        print(f"File {filename} not found.")

for col in categorical_cols:
    filename = f'df_{col}_value_counts.txt'
    try:
        with open(filename, 'r') as f:
            print(f"Content of {filename}:\n{f.read()}")
    except FileNotFoundError:
        print(f"File {filename} not found.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4329 entries, 0 to 4328
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   incident_id               4329 non-null   int64
 1   year                      4329 non-null   int64
 2   month                     4329 non-null   float64
 3   day                       4329 non-null   float64
 4   country_code              4329 non-null   object
 5   country                   4329 non-null   object
 6   region                    4329 non-null   object
 7   district                  4329 non-null   object
 8   city                      4329 non-null   object
 9   UN                        4329 non-null   int64
 10  INGO                      4329 non-null   int64
 11  ICRC                      4329 non-null   float64
 12  NRCS_IFRC                 4329 non-null   float64
 13  NNGO                      4329 non-null   float64
 14  other                     4329 non-null   int64
 15  nationals_killed          4329 non-null   int64
 16  nationals_wounded         4329 non-null   int64
 17  nationals_kidnapped       4329 non-null   int64
 18  total_nationals           4329 non-null   int64
 19  internationals_killed     4329 non-null   int64
 20  internationals_wounded    4329 non-null   int64
 21  internationals_kidnapped  4329 non-null   int64
 22  total_internationals      4329 non-null   int64
 23  total_killed              4329 non-null   int64
 24  total_wounded             4329 non-null   int64
 25  total_kidnapped           4329 non-null   int64
 26  total_affected            4329 non-null   int64
 27  gender_male               4329 non-null   int64
 28  gender_female             4329 non-null   int64
 29  gender_unknown            4329 non-null   int64
 30  means_of_attack           4329 non-null   object
 31  attack_context            4329 non-null   object
 32  location                  4329 non-null   object
 33  latitude                  4329 non-null   float64
 34  longitude                 4329 non-null   float64
 35  motive                    4329 non-null   object
 36  actor_type                4329 non-null   object
 37  actor_name                4329 non-null   object
 38  details                   4329 non-null   object
 39  verified                  4329 non-null   object
 40  source                    4329 non-null   object
 41  date                      4329 non-null   object
dtypes: float64(7), int64(20), object(15)
memory usage: 1.4+ MB
Content of df_info.txt:
None

Content of df_describe.txt:
       incident_id         year        month          day           UN  \
count  4329.000000  4329.000000  4329.000000  4329.000000  4329.000000
mean   2256.276969  2015.240702     6.544583    15.490875     0.410256
std    1304.480116     6.772873     3.401077     8.467207     2.104446
min       1.000000  1997.000000     1.000000     1.000000     0.000000
25%    1128.000000  2010.000000     4.000000     8.000000     0.000000
50%    2254.000000  2016.000000     7.000000    15.000000     0.000000
75%    3388.000000  2021.000000    10.000000    22.000000     0.000000
max    4505.000000  2025.000000    12.000000    31.000000    92.000000

              INGO         ICRC    NRCS_IFRC         NNGO        other  ...  \
count  4329.000000  4329.000000  4329.000000  4329.000000  4329.000000  ...
mean      0.809425     0.047124     0.120351     0.474705     0.024255  ...
std       1.649495     0.399395     0.781057     1.190446     0.223634  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       0.000000     0.000000     0.000000     0.000000     0.000000  ...
50%       0.000000     0.000000     0.000000     0.000000     0.000000  ...
75%       1.000000     0.000000     0.000000     1.000000     0.000000  ...
max      49.000000     8.000000    19.000000    15.000000     5.000000  ...

       total_internationals  total_killed  total_wounded  total_kidnapped  \
count           4329.000000   4329.000000    4329.000000      4329.000000
mean               0.202818      0.702934       0.690460         0.492723
std                0.770278      1.814654       1.513893         1.363983
min                0.000000      0.000000       0.000000         0.000000
25%                0.000000      0.000000       0.000000         0.000000
50%                0.000000      0.000000       0.000000         0.000000
75%                0.000000      1.000000       1.000000         0.000000
max               15.000000     70.000000      37.000000        20.000000

       total_affected  gender_male  gender_female  gender_unknown  \
count     4329.000000  4329.000000    4329.000000     4329.000000
mean         1.886117     0.891430       0.139062        0.855163
std          2.660854     1.216508       0.471038        2.524931
min          0.000000     0.000000       0.000000        0.000000
25%          1.000000     0.000000       0.000000        0.000000
50%          1.000000     1.000000       0.000000        0.000000
75%          2.000000     1.000000       0.000000        1.000000
max         92.000000    17.000000       7.000000       92.000000

          latitude    longitude
count  4329.000000  4329.000000
mean     16.773385    36.485717
std      14.490148    30.077208
min     -34.883611  -102.283333
25%       5.933333    28.750000
50%      13.443500    34.454167
75%      33.095579    45.375419
max      52.253183   179.012274

[8 rows x 27 columns]

Content of df_time_range.txt:

Time Range: 1997-01-15 to 2025-12-19

Content of df_incidents_per_year.txt:

Incidents per year:
year
1997     34
1998     25
1999     31
2000     41
2001     28
2002     46
2003     62
2004     64
2005     74
2006    107
2007    124
2008    165
2009    156
2010    132
2011    152
2012    170
2013    265
2014    194
2015    150
2016    164
2017    160
2018    229
2019    276
2020    283
2021    272
2022    247
2023    281
2024    353
2025     44
Name: count, dtype: int64

Content of df_top_countries.txt:

Top 10 countries by incident count:
country
Afghanistan                         609
South Sudan                         583
Sudan                               381
Syrian Arab Republic                368
Somalia                             315
DR Congo                            233
Occupied Palestinian Territories    158
Central African Republic            142
Mali                                126
Pakistan                            112
Name: count, dtype: int64

Content of df_top_regions.txt:

Top 10 regions by incident count:
region
Idlib                140
Jonglei              139
Gaza Strip           135
Central Equatoria    127
North Kivu           122
South Darfur         114
Banadir              110
Kabul                 99
Unity                 89
Aleppo                79
Name: count, dtype: int64

Content of df_total_killed_describe.txt:

Summary statistics for total_killed:
count    4329.000000
mean        0.702934
std         1.814654
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max        70.000000
Name: total_killed, dtype: float64

Content of df_total_wounded_describe.txt:

Summary statistics for total_wounded:
count    4329.000000
mean        0.690460
std         1.513893
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max        37.000000
Name: total_wounded, dtype: float64

Content of df_total_kidnapped_describe.txt:

Summary statistics for total_kidnapped:
count    4329.000000
mean        0.492723
std         1.363983
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        20.000000
Name: total_kidnapped, dtype: float64

Content of df_total_affected_describe.txt:

Summary statistics for total_affected:
count    4329.000000
mean        1.886117
std         2.660854
min         0.000000
25%         1.000000
50%         1.000000
75%         2.000000
max        92.000000
Name: total_affected, dtype: float64

Content of df_means_of_attack_value_counts.txt:

Value counts for means_of_attack:
means_of_attack
Shooting                1240
Kidnapping               888
Bodily assault           835
Unknown                  505
Aerial bombardment       263
Shelling                 157
Kidnap-killing           111
Vehicle-born IED          76
Roadside IED              65
Rape/sexual assault       46
Other Explosives          45
Landmine                  39
Complex attack            39
Body-borne IED            20
Name: count, dtype: int64

Content of df_attack_context_value_counts.txt:

Value counts for attack_context:
attack_context
Ambush               1400
Individual attack     873
Unknown               729
Combat/Crossfire      668
Raid                  504
Mob violence           94
Detention              61
Name: count, dtype: int64

Content of df_actor_type_value_counts.txt:

Value counts for actor_type:
actor_type
Unknown                               2269
Non-state armed group: Unknown         375
Non-state armed group: National        351
Unaffiliated                           223
Foreign or coalition forces            201
Host state                             191
Non-state armed group: Regional        184
Non-state armed group: Subnational     146
Criminal                               132
Police or paramilitary                  88
Aid recipient                           62
Staff member                            35
Host State                              27
Non-state armed group: Global           22
State: unknown                          12
Non-state armed group: Global           11
Name: count, dtype: int64

Content of df_country_value_counts.txt:

Value counts for country:
country
Afghanistan             609
South Sudan             583
Sudan                   381
Syrian Arab Republic    368
Somalia                 315
                       ...
Swaziland                 1
Egypt                     1
Dominican Republic        1
Venezuela                 1
Jamaica                   1
Name: count, Length: 95, dtype: int64

Content of df_region_value_counts.txt:

Value counts for region:
region
Idlib                140
Jonglei              139
Gaza Strip           135
Central Equatoria    127
North Kivu           122
                    ...
Magway                 1
Chiquimula             1
Pibor                  1
Manyara                1
Mykolaiv               1
Name: count, Length: 459, dtype: int64